services:
  postgres_db:
    image: postgres
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: grubd14@githubprojects
      POSTGRES_USER: grubd14
    ports:
      - "5432:5432"
    volumes:
      - './docker_database:/var/lib/postgresql/data'
